@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




html, body {
  overflow-x: hidden;
  margin: 0%;
  padding: 0%;
  font-family: 'Chakra Petch', sans-serif;
}
/* ------------------------------home-section---------------------------------- */

.hero-container{

  
  background-image: url('/hero-main-image.png');
  background-color: black;
  width: 1440px;
  height: auto
  ;
  background-repeat: no-repeat;
 
 
}


.nav-border{
  border-radius: 10px;
border: 1px solid rgba(255, 215, 0, 1) ;

}
.nav-border-2{
  border-radius: 10px;
border: 1px solid rgba(255, 215, 0, 1) ;

}
.curated-container{
  background-image: url("/cur.background.jpeg");
  width: auto;
  height: 674px;
  background-size: cover;
}
.blur-background{
background-image: url('/blur-bg.png');
width: 1160px;
height: 674px;
background-size: cover;
background-repeat: no-repeat;


}
.goldentiers-contaier{
  background-image: url('/golden-tiers.png');
  background-color: black;
  height: auto;
  width: auto;
  background-repeat: no-repeat;

}
.golden-tiers-card-1{
  background-image: url('/Subtract-1.png');
  

}
.golden-tiers-card-2{
  background-image: url('/Subtract-2.png');


}
.footer-contener{
  background-image: url('/footer-bg.png');


}
.collection-container{
  background-image: url('/collection-bg.PNG');
  width: auto;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;


}
.collection-subtract {

  background-image: url('/collection-subtract.png');
  background-position: 100%;
}
.tier-bg{
  background-image: url('/tier-nav.png');


}
.tier-nav-2{
  background-image: url('/tier-nav-2.png');
}



/* Mobile responsive Query */

@media (max-width: 500px) {

  .nav-border{
    margin: 20px;
   border-radius: 0%;
   border-top-left-radius: 40px;
border-bottom-right-radius: 40px;
   

  } 

  .nft-res{
    position: relative;
    top: 120px;
    right: 15px;

  }
.carousel-res {
  position: relative;
  top: 150px;
right: 250px;

}
.sold-res {

  position: relative;
  left: 250px;
  padding: 10px;
}
.hero-border-b{
  position: relative;
  top: 250px;
  right: 50px;


}
.ourmisson-res{
  position: relative;
  top: 300px;


}
.blur-background{

  position: relative;
  left: 0%;

}
.card-carosel {

  position: relative;
  right: 35px;
}
.cur-text{

  position: relative;
 right: 25px;
 padding-right: 30px;
}
.arrow-l-res {

  position: relative;
  
  left: 12%;
  top: 40px;

}
.arrow-r-res {
  position: relative;
  top: 40px;
  left: 12%;


}
.goldtier-text-res{

  position: relative;
  left: 35px;
  margin-bottom: 40px;

}
.footer-contener{
  background-image: url('/footer-res.png');
 
  


}
.collection-container{

  background-position: 50%;
}


}